<% layout('layout') -%>

<p>Welcome to <%= title %></p>

<a href="/blog/create">Create new post</a>

<div id="posts">
	<% posts.forEach( function( post ){ %>
	<div class="post">
		<div class="title">
			<a href="/blog/<%= post.id %>"><%= post.title %></a>
			<a href="/blog/edit/<%= post.id %>">edit</a>
			<a href="/blog/delete/<%= post.id %>">delete</a>
		</div>
		<div class="body"><%= post.body %></div>
		<div class="created_at"><%= post.created_at %></div>
	</div>
	<% }); %>
</div>
