body {
	font-family: "Helvetica Neue", "Lucida Grande", "Arial";
	font-size: 13px;
	text-align: center;
	text-stroke: 1px rgba(255, 255, 255, 0.1);
	color: #555;
}

h1, h2 { 
	margin: 0;
	font-size: 22px;
	color: #343434;
}

h1 {
	text-shadow: 1px 2px 2px #ddd;
	font-size: 60px;
}

#posts {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}

#posts .post {
	margin: 20px;
}

#posts .post .created_at {
	display: none;
}

#posts .post .title {
	font-weight: bold;
	text-decoration: underline;
	background-color: #eee;
}

#posts .post .body {
	background-color: #ffa;
}
