<% layout('../layout') -%>
<form method="post">
	<div>
		<div>
			<span>Title:</span>
			<input type="text" name="title" id="editBlogTitle" />
		</div>
		<div>
			<span>Body:</span>
			<textarea name="body" rows="20" id="editBlogBody"></textarea>
		</div>
			<div id="editBlogSubmit">
			<input type="submit" value="Send" />
		</div>
	</div>
</form>

