<% layout('../layout') -%>

<form method="post"  action="/blog/edit">
	<div>
		<input type="hidden" name="id" value="<%= post.id %>" />
		<div>
			<span>Title:</span>
			<input type="text" name="title" id="editBlogTitle" value="<%= post.title %>" />
		</div>
		<div>
			<span>Body:</span>
			<textarea name="body" rows="20" id="editBlogBody"><%= post.body %></textarea>
		</div>
			<div id="editBlogSubmit">
			<input type="submit" value="Send" />
		</div>
	</div>
</form>

